body{
    background-image: url(2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin:auto 89px;
}
.container{
    margin: 20px;
    display:flex;
    flex-direction: row;
     justify-content: space-between; 
 }
.nav{
     display:flex;
    flex-direction: row;
     justify-content: flex-end;
     justify-content: space-between;
    text-decoration: none;
    color:white;
    padding:10px;   
}
a{
    text-decoration: none;
    color: white;
}
.container1{
    display: grid;
    grid-template-columns: auto auto;
    margin:auto;
}
h1{
    font-size: 80px;
}
.text button{ width: 200px;
padding: 10px 40px;
border-radius: 20px;
border: none;
font-weight: bold;
background-color: whitesmoke;
}
h3{
    margin-top: 10px;
    font-size:18px;
    font-weight: bold;
}
.content{
    font-size: 12px;
}
.boxes{
display: grid;
grid-template-columns:270px 270px;
grid-template-rows: 280px 280px;
grid-gap: 30px 50px;
padding-right: 40px;
box-sizing: border-box;
}
.box{
    background-size: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding:20px 30px;
}
.box:hover{
     transform: translateY(-10px); 
     transition-duration: 0.5s;    
}
.box1{
    background-image: url(desert.jpeg);
}
.box2{
    background-image: url(4.jpeg);
}
.box3{
    background-image: url(1.jpeg);
}
.box4{
        background-image: url(3.jpeg);      
}
@media (max-width:856px){
    .container1{
        display:flex;
        flex-direction:column;
    }
    .boxes{
        display: grid;
        justify-content: center;
        grid-template-columns: 60%;
        grid-template-rows: 200px 200px 200px 200px ;
        grid-gap: 30px 50px;
        padding-right:0px;
        padding-top: 20px;  
     }
    .box{
        background-position:center;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 20px 30px;
    }
    h1{
        font-size:25px;
    }
    body{
        background-image: url(2.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        width:100vw;
        height:100%;
        margin: auto ;  
    }
    .text{
        margin-left: 70px;
    }
    .container{
        margin-left: 70px;
    }
}